* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 239, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif, Arial, Helvetica;
}

.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 50px rgb(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}
/* screens */
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

/* start screen */

#start-screen h1{
  color: rgb(222, 102, 17);
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#start-screen p{
  color: rgb(83, 83, 83);
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.quiz-header{
  margin-bottom: 2rem;
}

#question-text {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height:1.4;
}

.quiz-info {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  color: rgb(94, 94, 94);
  margin-bottom: 10px
}

.answers-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.answer-btn{
  background-color: white;
  color: rgb(49, 49, 49);
  border: 3px solid rgb(255, 238, 226);
  border-radius: 10px;
  padding: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  transition:all 0.3s ease;
}

.answer-btn:hover{
  background-color: rgb(239, 227, 216);
  border-color: whitesmoke;
}

.answer-btn.correct{
  background-color: whitesmoke;
  border-color: rgb(162, 242, 162);
  color: rgb(20, 109, 20);
}

.answer-btn.incorrect{
  background-color: whitesmoke;
  border-color: rgb(255, 91, 91);
  color: rgb(185, 21, 21);
}

.progress-bar{
  height: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress{
  height: 100%;
  background-color: rgb(255, 149, 0);
  width: 0%;
  transition: width 0.3s ease;
}

/* result screen */

#result-screen h1{
  color: orange;
  margin-bottom: 30px;
}

.results-info{
  background-color: rgb(254, 250, 246);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.results-info p {
  font-size: 1.2rem;
  color: rgb(96, 95, 95);
  margin-bottom: 1rem;
}

#result-message{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(232, 106, 51);
}

button{
  background-color: rgb(232, 106, 51);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #d45b28;
}

/* responsive design */

@media (max-width:500px){
  .screen{
    padding: 1rem;
  }

  #start-screen h1 {
    font-size:2rem;
  }

  #question-text {
    font-size: 1.3rem;
  }

  .answer-btn{
    padding: 12px;
  }

  button{
    padding: 12px 25px;
    font-size: 1rem;
  }
}